//
   Created by Zoe on 15-09-16.


form(name="form-action", method="post")
   fieldset
      legend Points
      p Comabt Skill: #{pagerData.wolf.getCombatSkill()}
      p Endurance: #{pagerData.wolf.getEndurancePoints()}
      p Gold Crowns: #{pagerData.wolf.getGoldCrowns()}


   fieldset
        legend Choose five Kai Disciplines

        input(type="checkbox", name="camouflage", checked=false)
        label Camouflage
        p
            input(type="checkbox", name="hunting", checked=false)
            label Hunting

        p
           input(type="checkbox", name="sixthsense", checked=false)
           label Sixth Sense

        p
           input(type="checkbox", name="tracking", checked=false)
           label Tracking

        p
           input(type="checkbox", name="healing", checked=false)
           label Healing

        p
           input(type="checkbox", name="weaponskill", checked=false)
           label Weaponskill

        p
           input(type="checkbox", name="mindshield", checked=false)
           label Mindshield

        p
           input(type="checkbox", name="mindblast", checked=false)
           label Mindblast

        p
           input(type="checkbox", name="animalkinship", checked=false)
           label Animal Kinship

        p
           input(type="checkbox", name="mindovermatter", checked=false)
           label Mind Over Matter


   fieldset
        legend Choose two equipments

        input(type="checkbox", name="sword", checked=false, class="weapon", id="weapon_sword")
        label Sword (Weapons)
        p
            input(type="checkbox", name="shortsword", checked=false, class="weapon", id="weapon_shortsword")
            label Short Sword (Weapons)

        p
           input(type="checkbox", name="padded", checked=false, class="special_item", id="special_item_padded")
           label Padded Leather Waistcoat (Special Items). This adds 2 ENDURANCE points to your total.

        p
           input(type="checkbox", name="spear", checked=false, class="weapon", id="weapon_spear")
           label Spear (Weapons)

        p
           input(type="checkbox", name="mace", checked=false, class="weapon", id="weapon_mace")
           label Mace (Weapons)

        p
           input(type="checkbox", name="warhammer", checked=false, class="weapon", id="weapon_warhammer")
           label Warhammer (Weapons)

        p
           input(type="checkbox", name="axe", checked=false, class="weapon", id="weapon_axe")
           label Axe (Weapons)

        p
           input(type="checkbox", name="potion", checked=false, class="backpack_item", id="backpack_item_potion")
           label Potion of Laumspur (Backpack Items). This restores 4 ENDURANCE points to your total when swallowed after combat. There is only enough for one dose.

        p
            input(type="checkbox", name="quarterstaff", checked=false, class="weapon", id="weapon_quarterstaff")
            label Quarterstaff (Weapons)

        p
            input(type="checkbox", name="rations", checked=false, class="meal", id="meal_rations")
            label Special Rations (Meals). This counts as one meal.

        p
           input(type="checkbox", name="broadsword", checked=false, class="weapon", id="weapon_broadsword")
           label Broadsword (Weapons)
