//
   Created by Zoe on 15-09-17.
h3 Combat records

each record in records
    p Combat Round: #{record.combatRound}
        br
        |Your Combat Ratio is: #{record.ratio}
        br
        |Your Random Number is: #{wolf.randomNuber}
        br
        |Your Enemy took #{record.enemyDamage} damage -
        br
        |and now has #{record.enemyEP} Endurance Points.
        br
        | Lone Wolf took #{record.wolfDamage} damage -
        br
        | and now has #{record.wolfEp} Endurance Points.
